@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Expense Manager</h1>
    <p class="lead">This application uses Google and Twitter for signup and login.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>You can easily manage your friends and their expenses.</p>
    </div>
</div>